body {
  font-size              : 200%;
  color                  : #999;
  width                  : 800px;
  margin                 : 0 auto;
  background             : #000;
  font-family            : "Helevetica Neue", Helvetica, "Trebuchet MS", "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

a {
  color            : #ff0;
  text-decoration  : none;
}
a:hover { text-decoration  : underline; }

img {
  border: 1px solid #ff0;
}

#header {
  position: absolute;
  bottom: 0px;
}

#header > h1 {
  font-size              : 150%;
  font-weight            : bold;
  font-stretch           : expanded;
  margin                 : 10px auto;
}

#main {
  margin-top: 150px;
}

h2 {
  text-align: center;
}
